.footer{
    padding: 30px 15px;
    background-color: $bg-darkgrey;
    color: $colour-white;
    &__header h2{
        font-family: 'Shrikhand','Roboto';
        font-weight: 100;
        margin-bottom: 10px;
        padding-left: 20px;
        @include for-tablet-portrait-up{
            margin: 0 100px 0 0;
            padding: unset;
        }
    }
    &__infos{
        list-style: none;
        padding-left: 20px;
    }
    &__item{
        margin-bottom: 10px;
    }
    span{
        margin-right: 10px;
    }
    @include for-tablet-portrait-up{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}