*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.header__logo img {
  width: 160px;
}
.header__arrow i {
  font-size: 35px;
}

.header--restaurant {
  justify-content: space-between;
}

.footer {
  padding: 30px 15px;
  background-color: #353535;
  color: #fff;
}
.footer__header h2 {
  font-family: "Shrikhand", "Roboto";
  font-weight: 100;
  margin-bottom: 10px;
  padding-left: 20px;
}
.footer__infos {
  list-style: none;
  padding-left: 20px;
}
.footer__item {
  margin-bottom: 5px;
}
.footer span {
  margin-right: 10px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 14px 13px 0;
  background-color: #EAEAEA;
}
.location__icon {
  margin: 0 10px 0 -5px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  text-align: center;
  background-color: #F6F6F6;
}
.search-section__title, .search-section__quote {
  margin-bottom: 10px;
}

.features-section {
  padding: 40px 15px;
}
.features-section__header {
  margin-bottom: 20px;
}
.features-section__list {
  list-style: none;
  counter-reset: counter;
}
.features-section__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 97.5%;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 2px 7px #ababab;
  background-color: #F6F6F6;
  counter-increment: counter;
}
.features-section__item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: -15px;
  width: 30px;
  height: 30px;
  content: counter(counter);
  background: #9356DC;
  border-radius: 100%;
  color: white;
}
.features-section__item:hover {
  background-color: #f5edff;
}
.features-section__item:hover i {
  color: #9356DC;
}
.features-section__icon {
  margin: 0 10px;
}

.restaurants-section {
  padding: 40px 15px;
  background-color: #F6F6F6;
}
.restaurants-section__header {
  margin-bottom: 20px;
}

.restaurant-section {
  position: relative;
  min-height: 156vh;
  background-color: #F6F6F6;
}
.restaurant-section__cover img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.restaurant-section__menu {
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  padding: 20px;
  border-radius: 35px 35px 0 0;
  background-color: #F6F6F6;
}
.restaurant-section__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.restaurant-section .btn {
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 15px 22px;
  border: unset;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #88888B;
  background: linear-gradient(160deg, #FF79DA, #9356DC);
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0px 3px 10px 2px #88888b;
  background: linear-gradient(160deg, rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 1px #88888b;
}
.card__img {
  position: relative;
}
.card__img img {
  width: 100%;
  height: 174px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.card__tag {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 15px;
  background: #99E2D0;
  border-radius: 5px;
  color: #008766;
  font-weight: bold;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  line-height: 19px;
}

i {
  font-size: 16px;
}

.fa-heart {
  font-size: 20px;
}
.fa-heart:hover {
  font-weight: 900;
  color: #9356DC;
}

.menu {
  margin-bottom: 25px;
}
.menu__type {
  margin-bottom: 20px;
}
.menu__meals {
  list-style: none;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 7px #ababab;
}

/*# sourceMappingURL=style.css.map */
