
 // radio input 
 .radio-input{
    position: relative;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    background-color: #fff;
 }
 .radio-input::before{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    content: "\2714";
    font-size: 25px;
    // font-weight: bold;
    color: $colour-tertiary;
 }
 .radio-input:checked::before{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    content: "\2714";
    font-size: 25px;
    font-weight: bold;
    color: $colour-tertiary;
 }