// general reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    // font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

// container 
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.container--sections{
    max-width: none;
    //responsive
    @include for-tablet-landscape-up{
        display: flex;
    }
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
}